# Avoid unintentional population of .DS_Store files in repository
*.DS_Store

# Avoid accidental Figma file uploads
*.fig

#Avoid accidental .git folder uploads
*.git/

# Avoid accidental Sketch file uploads
*.sketch

# Avoid accidental XD file uploads
*.xd