/* Import Karla font */
@font-face {
    font-family: 'Karla'; /* Adjusts font name */
    src: url(./fonts/Karla-VariableFont_wght.ttf); /* Specifies file path to font */
}

/* Adjusts grid position on phones */
@media only screen and (max-width: 400px){
    .wrap-div {
        width: 100%; /* Adjusts width of the whole box */
    }

    .top-div {
        border-top-left-radius: 20px; /* Adjusts top left radius */
        border-top-right-radius: 20px; /* Adjusts top right radius */
        grid-column-start: 1; /* Adjusts column start position */
        grid-column-end: 3; /* Adjusts column end position */
        grid-row-start: 0; /* Adjusts row start position */
        grid-row-end: 1; /* Adjusts row end position */
    }

    .left-div {
        border-bottom-left-radius: 0px; /* Adjusts bottom left radius */
        grid-column-start: 1; /* Adjusts column start position */
        grid-column-end: 3; /* Adjusts column end position */
        grid-row-start: 1; /* Adjusts row start position */
        grid-row-end: 2; /* Adjusts row end position */
    }

    .right-div {
        border-bottom-left-radius: 20px; /* Adjusts bottom left radius */
        border-bottom-right-radius: 20px; /* Adjusts bottom right radius */
        grid-column-start: 1; /* Adjusts column start position */
        grid-column-end: 3; /* Adjusts column end position */
        grid-row-start: 2; /* Adjusts row start position */
        grid-row-end: 3; /* Adjusts row end position */
    }

    .button-one {
        margin-bottom: 10%; /* Adjusts bottom margin */
    }
}

/* Adjusts grid position on tablets and laptops */
@media only screen and (min-width: 401px) and (max-width: 1366px) {
    .wrap-div {
        width: 50%; /* Adjusts width of div */
    }

    .top-div {
        border-top-left-radius: 20px; /* Adjusts top left radius */
        border-top-right-radius: 20px; /* Adjusts top right radius */
        grid-column-start: 1; /* Adjusts column start position */
        grid-column-end: 3; /* Adjusts column end position */
        grid-row-start: 0; /* Adjusts row start position */
        grid-row-end: 1; /* Adjusts row end position */
    }

    .left-div {
        border-bottom-left-radius: 20px; /* Adjusts bottom left radius */
        grid-column-start: 1; /* Adjusts column start position */
        grid-column-end: 2; /* Adjusts column end position */
        grid-row-start: 1; /* Adjusts row start position */
        grid-row-end: 2; /* Adjusts row end position */
    }

    .right-div {
        border-bottom-right-radius: 20px; /* Adjusts bottom right radius */
        grid-column-start: 2; /* Adjusts column start position */
        grid-column-end: 3; /* Adjusts column end position */
        grid-row-start: 1; /* Adjusts row start position */
        grid-row-end: 2; /* Adjusts row end position */
    }
}

/* Adjusts grid position on desktops/large monitors */
@media only screen and (min-width: 1367px) {
    .wrap-div {
        width: 50%; /* Adjusts width of div */
    }

    .top-div {
        grid-column-start: 1; /* Adjusts column start position */
        grid-column-end: 3; /* Adjusts column end position */
        grid-row-start: 0; /* Adjusts row start position */
        grid-row-end: 1; /* Adjusts row end position */
    }

    .left-div {
        grid-column-start: 1; /* Adjusts column start position */
        grid-column-end: 2; /* Adjusts column end position */
        grid-row-start: 1; /* Adjusts row start position */
        grid-row-end: 2; /* Adjusts row end position */
    }

    .right-div {
        grid-column-start: 2; /* Adjusts column start position */
        grid-column-end: 3; /* Adjusts column end position */
        grid-row-start: 1; /* Adjusts row start position */
        grid-row-end: 2; /* Adjusts row end position */
    }
}

body {
    background-color: hsl(217, 100%, 83%); /* Adjusts background color of webpage */
}

ul {
    padding-inline-start: 5%; /* Sets indentation for lists */
}

/* Wrap-around div */
.wrap-div {
    display: grid; /* Adjusts css display */
    grid-template-columns: repeat(2, 1fr); /* Adjusts number of columns/spacing */
    margin-bottom: 10%; /* Adjusts bottom margin of div */
    margin-left: auto; /* Adjusts left margin of div */
    margin-right: auto; /* Adjusts right margin of div */
    margin-top: 10%; /* Adjusts top margin of div */
}


.top-div {
    background-color: hsl(0, 0%, 100%); /* Adjusts background color of top div */
    display: flex; /* Adjust css display */
    flex-direction: column; /* Adjusts flexbox direction */
    flex-wrap: nowrap; /* Determines if flexbox wraps elements from a single line */
    justify-content: space-evenly; /* Adjusts spacing */
    
}
.heading-one {
    color: hsl(179, 62%, 43%); /* Adjusts font color */
    font-family: Karla; /* Adjusts font family */
    font-size: 20px; /* Adjusts font size */
    margin-left: 5%; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
}

.subheading-one {
    color: hsl(71, 73%, 54%); /* Adjusts font color */
    font-family: Karla; /* Adjusts font family */
    font-size: 16px; /* Adjusts font size */
    margin-left: 5%; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
    margin-top: 1%; /* Adjusts top margin */
}

.paragraph-one {
    color: hsl(218, 22%, 67%); /* Adjusts font color */
    font-family: Karla; /* Adjusts font family */
    font-size: 16px; /* Adjusts font size */
    margin-bottom: 1%; /* Adjusts bottom margin */
    margin-left: 5%; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
    margin-top: 0%; /* Adjusts top margin */
}

.left-div {
    background-color: hsl(179, 62%, 43%); /* Adjusts font color */
    display: flex; /* Adjust css display */
    flex-direction: column; /* Adjusts flexbox direction */
    flex-wrap: nowrap; /* Determines if flexbox wraps elements from a single line */
    justify-content: space-evenly; /* Adjusts spacing */
}

.heading-two {
    color: hsl(0, 0%, 100%); /* Adjusts font color */
    font-family: Karla; /* Adjusts font family */
    font-size: 18px; /* Adjusts font size */
    margin-left: 5%; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
}

.subheading-two {
    color: hsl(0, 0%, 100%); /* Adjusts font color */
    font-family: Karla; /* Adjusts font family */
    font-size: 16px; /* Adjusts font size */
    margin-left: 5%; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
}

.paragraph-two {
    color:hsl(0, 0%, 100%); /* Adjusts font color */
    font-family: Karla; /* Adjusts font family */
    font-size: 16px; /* Adjusts font size */
    margin-left: 5%; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
}

.augment {
    font-size: 24px; /* Adjusts font size */
}

.diminish {
    color: hsl(204, 43%, 93%); /* Adjusts font color */
    font-size: 12px; /* Adjusts font size */
}

.button-one {
    background-color: hsl(71, 73%, 54%); /* Adjusts font color */
    border-radius: 15px; /* Adjusts border radius */
    margin-bottom: 5%; /* Adjusts bottom margin */
    margin-left: 5%; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
    padding: 5%; /* Adjusts padding */
    text-align: center; /* Adjusts text alignment */
    width: 75%; /* Adjusts width relative to .left-div */
}

.right-div {
    background-color: hsl(179, 61%, 49%); /* Adjusts font color */
    border-bottom-right-radius: 20px; /* Adjusts bottom right radius */
}

.heading-three {
    color: hsl(0, 0%, 100%); /* Adjusts font color */
    font-family: Karla; /* Adjusts font family */
    font-size: 18px; /* Adjusts font size */
    margin-left: auto; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
    padding-left: 5%; /* Adjusts left padding */
    text-align: left; /* Adjusts text alignment */
}

.list-data {
    color: hsl(0, 0%, 100%); /* Adjusts font color */
    font-family: Karla; /* Adjusts font family */
    font-size: 16px; /* Adjusts font size */
    list-style-type: none; /* Adjusts list bullet points style */
    margin-left: auto; /* Adjusts left margin */
    margin-right: auto; /* Adjusts right margin */
    text-align: left; /* Adjusts text alignment */
}

/* For footers */
.attribution { 
    font-family: Karla; /* Adjusts font family */
    font-size: 12px; /* Adjusts font size */
    text-align: left; /* Adjusts text alignment */
}
.attribution a { 
    color: hsl(228, 45%, 44%); /* Adjusts font color */
}